{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "esnext": true
  },
  "rules": {
    "strict": 2,
    "no-underscore-dangle": 0,
    "quotes": [
      2,
      "single"
    ]
  }
}