.commits-per-day input {
  width: 100%;
}

.commits-per-day .reset-date {
  margin-top: 22px;
}

.commits-per-day .module-container {
  margin-top: 20px;
}

.commits-per-day .module-selector,
.commits-per-day .chart-container {
  margin-bottom: 20px;
}

.commits-per-day .company-container span.badge {
    width: 20%;
}

.btn > .badge {
  float: right;
}